<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');

        .sizeRef {
            max-width: 1000px;
        }
    </style>

</head>
<!-- component -->
<body>
    <!-- component -->
<section class="grid h-screen place-content-center bg-slate-900 text-slate-300">
    <form action="/password/update" method="POST">
    <div class="mb-10 text-center text-indigo-400">
      <h1 class="text-3xl font-bold tracking-widest">Update Password</h1>
      <p><span class="font-bold">Password</span> and <span class="font-bold">Confirm</span> validation.</p>
    </div>
    <div class="flex flex-col items-center justify-center space-y-6">
      <input type="password" id="password" name="OldPassword" placeholder="Old Password" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
      <div>
        <input type="password" id="confirm_password" name="Password" placeholder="New Password" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
        <p id="validation" class="text-center text-orange-500 italic text-sm"></p>
      </div>
      <button id="showPw" class="rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500"><span id="showHide">Show</span> Password</button>
      <button type="submit" class="rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500"><span id="showHide">Change</span> Password</button>

    </div>
</form>
  </section>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript">
  $("#confirm_password").on("keyup", function () {
    var password = $("#password").val();
    var confirmPassword = $(this).val();
    if (confirmPassword !== "" && password !== confirmPassword) {
      $("#validation").html("Password does not match!").show();
    } else {
      $("#validation").hide();
    }
  });
  
  $("#showPw").click(function () {
    var passInput = $("#password, #confirm_password");
    if (passInput.attr("type") === "password") {
      passInput.attr("type", "text");
      $("#showHide").html("Hide");
    } else {
      passInput.attr("type", "password");
      $("#showHide").html("Show");
    }
  });
  </script>
</body>

</html>