
 <!-- common style importing to this  -->
<%- include("Scripts/Style"); -%>

<body class="antialiased bg-slate-200">

    <!-- navbar for all pages -->
    <%- include("commoncode/Navbar"); -%>

    

    <%- body %>   <!-- This change dynamicly according to conntent-->


    <!-- // common js for all pages -->
    <%- include("Scripts/Script"); -%>
</body>
</html>
