<div class="max-w-6xl px-4 mx-auto my-4 md:my-6">
    <h2 class="font-medium text-3xl dark:text-white">Order Details</h2>
    <div class="mt-3 font-normal dark:text-gray-400">
      Check the status of recent and old orders &amp; discover more products
    </div>
    <div
      class="mt-8 md:flex-row flex flex-col border border-gray-300 rounded-lg overflow-hidden">
      <div
        class="md:max-w-xs w-full border-r border-gray-300 bg-gray-100 dark:border-gray-300 dark:bg-gray-800">
        <div class="p-8">
          <div class="grid md:grid-cols-1 sm:grid-cols-4 grid-cols-2">
            <div class="mb-4">
              <div class="text-sm text-gray-500 dark:text-white">Order ID</div>
              <div class="text-sm font-medium dark:text-gray-400">
                #74557994327
              </div>
            </div>
            <div class="mb-4">
              <div class="text-sm text-gray-500 dark:text-white">Date</div>
              <div class="text-sm font-medium dark:text-gray-400">
                4 March, 2023
              </div>
            </div>
            <div class="mb-4">
              <div class="text-sm text-gray-500 dark:text-white">
                Total Amount
              </div>
              <div class="text-sm font-medium dark:text-gray-400">₹84,499</div>
            </div>
            <div class="mb-4">
              <div class="text-sm text-gray-500 dark:text-white">
                Order Status
              </div>
              <div class="text-sm font-medium dark:text-gray-400">Confirmed</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 dark:bg-gray-600">
        <div class="p-8">
          <ul class="divide-y divide-gray-200 dark:divide-gray-500 -my-7">
            <li class="flex items-stretch justify-between space-x-5 py-7">
              <div class="flex items-stretch flex-1">
                <div class="flex-shrink-0">
                  <img
                    class="w-20 h-20 border border-gray-200 rounded-lg object-contain"
                    src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg?q=70"
                    alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg?q=70" />
                </div>
                <div class="flex flex-col justify-between ml-5">
                  <div class="flex-1">
                    <p class="text-sm font-bold text-gray-900 dark:text-white">
                      APPLE iPhone 13 (Midnight, 128 GB)
                    </p>
                    <p
                      class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-300">
                      Midnight
                    </p>
                  </div>
                  <p
                    class="mt-4 text-sm font-medium text-gray-500 dark:text-gray-300">
                    x 1
                  </p>
                </div>
              </div>
              <div class="flex flex-col items-end justify-between ml-auto">
                <p
                  class="text-sm font-bold text-right text-gray-900 dark:text-white">
                  ₹61,999
                </p>
              </div>
            </li>
            <li class="flex items-stretch justify-between space-x-5 py-7">
              <div class="flex items-stretch flex-1">
                <div class="flex-shrink-0">
                  <img
                    class="w-20 h-20 border border-gray-200 rounded-lg object-contain"
                    src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/mwp22hn-a-apple-original-imag3qe9eqkfhmg8.jpeg?q=70"
                    alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/mwp22hn-a-apple-original-imag3qe9eqkfhmg8.jpeg?q=70" />
                </div>
                <div class="flex flex-col justify-between ml-5">
                  <div class="flex-1">
                    <p class="text-sm font-bold text-gray-900 dark:text-white">
                      APPLE Airpods Pro with MagSafe Charging Case Bluetooth
                      Headset
                    </p>
                    <p
                      class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-300">
                      White, True Wireless
                    </p>
                  </div>
                  <p
                    class="mt-4 text-sm font-medium text-gray-500 dark:text-gray-300">
                    x 1
                  </p>
                </div>
              </div>
              <div class="flex flex-col items-end justify-between ml-auto">
                <p
                  class="text-sm font-bold text-right text-gray-900 dark:text-white">
                  ₹22,500
                </p>
              </div>
            </li>
          </ul>
          <hr class="my-8 border-t border-t-gray-200 dark:border-gray-500" />
          <div class="space-x-4">
            <button
              class="rounded-md bg-gray-500 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-500">
              View Order
            </button>
            <button
              class="rounded-md bg-gray-500 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-500">
              View Invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  