<div class="max-w-4xl mx-auto my-4 md:my-6">
    <div class="overflow-hidden border border-gray-100 shadow rounded-xl">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div
          class="px-5 py-6 dark:bg-gray-800 md:border-r-gray-200 md:border-r md:px-8">
          <div class="flow-root">
            <ul class="divide-y divide-gray-200 -my-7">
              <li class="flex items-stretch justify-between space-x-5 py-7">
                <div class="flex items-stretch flex-1">
                  <div class="flex-shrink-0">
                    <img
                      class="w-20 h-20 border border-gray-200 rounded-lg object-contain"
                      src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg?q=70"
                      alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg?q=70" />
                  </div>
                  <div class="flex flex-col justify-between ml-5">
                    <div class="flex-1">
                      <p
                        class="text-sm font-bold text-gray-900 dark:text-gray-100">
                        APPLE iPhone 13 (Midnight, 128 GB)
                      </p>
                      <p
                        class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-300">
                        Midnight
                      </p>
                    </div>
                    <p
                      class="mt-4 text-sm font-medium text-gray-500 dark:text-gray-300">
                      x 1
                    </p>
                  </div>
                </div>
                <div class="flex flex-col items-end justify-between ml-auto">
                  <p
                    class="text-sm font-bold text-right text-gray-900 dark:text-white">
                    ₹61,999
                  </p>
                  <button
                    type="button"
                    class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:text-gray-900">
                    <svg
                      class="w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </li>



              
              <li class="flex items-stretch justify-between space-x-5 py-7">
                <div class="flex items-stretch flex-1">
                  <div class="flex-shrink-0">
                    <img
                      class="w-20 h-20 border border-gray-200 rounded-lg object-contain"
                      src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/mwp22hn-a-apple-original-imag3qe9eqkfhmg8.jpeg?q=70"
                      alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/mwp22hn-a-apple-original-imag3qe9eqkfhmg8.jpeg?q=70" />
                  </div>
                  <div class="flex flex-col justify-between ml-5">
                    <div class="flex-1">
                      <p
                        class="text-sm font-bold text-gray-900 dark:text-gray-100">
                        APPLE Airpods Pro with MagSafe Charging Case Bluetooth
                        Headset
                      </p>
                      <p
                        class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-300">
                        White, True Wireless
                      </p>
                    </div>
                    <p
                      class="mt-4 text-sm font-medium text-gray-500 dark:text-gray-300">
                      x 1
                    </p>
                  </div>
                </div>
                <div class="flex flex-col items-end justify-between ml-auto">
                  <p
                    class="text-sm font-bold text-right text-gray-900 dark:text-white">
                    ₹22,500
                  </p>
                  <button
                    type="button"
                    class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:text-gray-900">
                    <svg
                      class="w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="flex items-stretch justify-between space-x-5 py-7">
                <div class="flex items-stretch flex-1">
                  <div class="flex-shrink-0">
                    <img
                      class="w-20 h-20 border border-gray-200 rounded-lg object-contain"
                      src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/mk2k3hn-a-apple-original-imag6yy7xjjugz4w.jpeg?q=70"
                      alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/order-confirmed/mk2k3hn-a-apple-original-imag6yy7xjjugz4w.jpeg?q=70" />
                  </div>
                  <div class="flex flex-col justify-between ml-5">
                    <div class="flex-1">
                      <p
                        class="text-sm font-bold text-gray-900 dark:text-gray-100">
                        APPLE iPad (9th Gen) 64 GB ROM 10.2 inch with Wi-Fi Only
                      </p>
                      <p
                        class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-300">
                        Space Grey
                      </p>
                    </div>
                    <p
                      class="mt-4 text-sm font-medium text-gray-500 dark:text-gray-300">
                      x 1
                    </p>
                  </div>
                </div>
                <div class="flex flex-col items-end justify-between ml-auto">
                  <p
                    class="text-sm font-bold text-right text-gray-900 dark:text-white">
                    ₹29,900
                  </p>
                  <button
                    type="button"
                    class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:text-gray-900">
                    <svg
                      class="w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </li>
            </ul>
            <hr class="mt-6 border-gray-200" />
            <ul class="mt-6 space-y-3">
              <li
                class="flex items-center justify-between text-gray-600 dark:text-gray-200">
                <p class="text-sm font-medium">Sub total</p>
                <p class="text-sm font-medium">₹1,14,399</p>
              </li>
              <li
                class="flex items-center justify-between text-gray-900 dark:text-white">
                <p class="text-sm font-medium">Total</p>
                <p class="text-sm font-bold">₹1,14,399</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="px-5 py-6 dark:bg-gray-900 md:px-8">
          <div class="flow-root">
            <div class="-my-6 divide-y divide-gray-200">
              <div class="py-6">
                <h2 class="font-bold text-gray-900 dark:text-white text-base">
                  Contact Information
                </h2>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  Order Number: #9876567890
                </p>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  Date: March 03, 2023
                </p>
                <button
                  class="mt-3 rounded-md bg-gray-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-500">
                  View Invoice
                </button>
              </div>
              <div class="py-6">
                <h2
                  class="font-bold text-gray-900 dark:text-white text-base mb-2">
                  Shipping Information
                </h2>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  Lem Deluce
                </p>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  1 Ronald Regan Court
                </p>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  102-655-3689
                </p>
              </div>
              <div class="py-6">
                <h2 class="font-bold text-gray-900 dark:text-white text-base">
                  Payment Information
                </h2>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  **** **** **** 6202
                </p>
                <p class="text-gray-600 dark:text-gray-400 font-light">
                  Expires 09/25
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  