<%- include("../Scripts/Style")%>

<div class="max-w-4xl mx-auto my-4 md:my-6">
    <div class="overflow-hidden shadow rounded-xl">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div
          class="px-5 py-6 bg-gray-100 dark:bg-gray-500 dark:text-gray-900 md:px-8">
          <div class="flow-root">
            <ul class="divide-y divide-gray-200 -my-7">
              <li class="flex items-stretch justify-between space-x-5 py-7">
                <div class="flex items-stretch flex-1">
                  <div class="flex-shrink-0">
                    <img
                      class="w-20 h-20 border border-gray-200 bg-white rounded-lg object-contain"
                      src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/checkout/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg"
                      alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/checkout/iphone-13-mlpf3hn-a-apple-original-imag6vzz5qvejz8z.jpeg" />
                  </div>
                  <div class="flex flex-col justify-between ml-5">
                    <div class="flex-1">
                      <p class="text-sm font-bold">
                        APPLE iPhone 13 (Midnight, 128 GB)
                      </p>
                      <p
                        class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-900">
                        Midnight
                      </p>
                    </div>
                    <p class="mt-4 text-sm font-medium">x 1</p>
                  </div>
                </div>
                <div class="flex flex-col items-end justify-between ml-auto">
                  <p
                    class="text-sm font-bold text-right text-gray-900 dark:text-black">
                    ₹61,999
                  </p>
                  <button
                    type="button"
                    class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:text-gray-900">
                    <svg
                      class="w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="flex items-stretch justify-between space-x-5 py-7">
                <div class="flex items-stretch flex-1">
                  <div class="flex-shrink-0">
                    <img
                      class="w-20 h-20 border border-gray-200 bg-white rounded-lg object-contain"
                      src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/checkout/mwp22hn-a-apple-original-imag3qe9eqkfhmg8.jpeg"
                      alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/checkout/mwp22hn-a-apple-original-imag3qe9eqkfhmg8.jpeg" />
                  </div>
                  <div class="flex flex-col justify-between ml-5">
                    <div class="flex-1">
                      <p class="text-sm font-bold">
                        APPLE Airpods Pro with MagSafe Charging Case Bluetooth
                        Headset
                      </p>
                      <p
                        class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-900">
                        White, True Wireless
                      </p>
                    </div>
                    <p class="mt-4 text-sm font-medium">x 1</p>
                  </div>
                </div>
                <div class="flex flex-col items-end justify-between ml-auto">
                  <p
                    class="text-sm font-bold text-right text-gray-900 dark:text-black">
                    ₹22,500
                  </p>
                  <button
                    type="button"
                    class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:text-gray-900">
                    <svg
                      class="w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="flex items-stretch justify-between space-x-5 py-7">
                <div class="flex items-stretch flex-1">
                  <div class="flex-shrink-0">
                    <img
                      class="w-20 h-20 border border-gray-200 bg-white rounded-lg object-contain"
                      src="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/checkout/mk2k3hn-a-apple-original-imag6yy7xjjugz4w.jpeg"
                      alt="https://dev-ui-image-assets.s3.ap-south-1.amazonaws.com/checkout/mk2k3hn-a-apple-original-imag6yy7xjjugz4w.jpeg" />
                  </div>
                  <div class="flex flex-col justify-between ml-5">
                    <div class="flex-1">
                      <p class="text-sm font-bold">
                        APPLE iPad (9th Gen) 64 GB ROM 10.2 inch with Wi-Fi Only
                      </p>
                      <p
                        class="mt-1.5 text-sm font-medium text-gray-500 dark:text-gray-900">
                        Space Grey
                      </p>
                    </div>
                    <p class="mt-4 text-sm font-medium">x 1</p>
                  </div>
                </div>
                <div class="flex flex-col items-end justify-between ml-auto">
                  <p
                    class="text-sm font-bold text-right text-gray-900 dark:text-black">
                    ₹29,900
                  </p>
                  <button
                    type="button"
                    class="inline-flex p-2 -m-2 text-gray-400 transition-all duration-200 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 hover:text-gray-900">
                    <svg
                      class="w-5 h-5"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <hr class="mt-6 border-gray-200" />
          <form action="#" class="mt-6">
            <div
              class="sm:flex sm:space-x-2.5 md:flex-col lg:flex-row md:space-x-0 lg:space-x-2.5">
              <div class="flex-grow">
                <input
                  class="flex h-10 w-full rounded-md border border-gray-300 bg-white dark:bg-slate-800 py-2 px-3 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-700 dark:text-gray-50 dark:focus:ring-gray-400 dark:focus:ring-offset-gray-900"
                  type="text"
                  placeholder="Enter coupon code" />
              </div>
              <div class="mt-4 sm:mt-0 md:mt-4 lg:mt-0">
                <button
                  class="rounded-md bg-gray-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-gray-500">
                  Apply coupon
                </button>
              </div>
            </div>
          </form>
          <ul class="mt-6 space-y-3">
            <li
              class="flex items-center justify-between text-gray-600 dark:text-gray-900">
              <p class="text-sm font-medium">Sub total</p>
              <p class="text-sm font-medium">₹1,14,399</p>
            </li>
            <li
              class="flex items-center justify-between text-gray-900 dark:text-black">
              <p class="text-sm font-medium">Total</p>
              <p class="text-sm font-bold">₹1,14,399</p>
            </li>
          </ul>
        </div>
        <div
          class="px-5 py-6 md:px-8 dark:bg-gray-900 dark:text-gray-300 text-gray-900">
          <div class="flow-root">
            <div class="-my-6 divide-y divide-gray-200">
              <div class="py-6">
                <h2 class="font-bold text-base">Contact Information</h2>
                <form action="#" class="mt-6">
                  <div class="space-y-5">
                    <div class="grid w-full max-w-sm items-center gap-1.5">
                      <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="name">
                        First &amp; Last Name
                      </label>
                      <input
                        class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent py-2 px-3 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-700 dark:text-gray-50 dark:focus:ring-gray-400 dark:focus:ring-offset-gray-900"
                        type="text"
                        id="name"
                        placeholder="First &amp; Last Name" />
                    </div>
                    <div class="grid w-full max-w-sm items-center gap-1.5">
                      <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="email">
                        Email
                      </label>
                      <input
                        class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent py-2 px-3 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:border-gray-700 dark:text-gray-50 dark:focus:ring-gray-400 dark:focus:ring-offset-gray-900"
                        type="email"
                        id="email"
                        placeholder="Email" />
                    </div>
                    <div>
                      <button
                        class="rounded-md w-full bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white hover:bg-indigo-500">
                        Get started
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="py-6">
                <h2 class="font-bold text-gray-500 dark:text-gray-200 text-base">
                  Shipping Information
                </h2>
              </div>
              <div class="py-6">
                <h2 class="font-bold text-gray-500 dark:text-gray-200 text-base">
                  Billing Information
                </h2>
              </div>
              <div class="py-6">
                <h2 class="font-bold text-gray-500 dark:text-gray-200 text-base">
                  Payment Method
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

</body>
</html>